<div>
    <h2 id="page-heading">
        <span jhiTranslate="posterServerApp.billInfo.home.title">Bill Infos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bill-info" [routerLink]="['/bill-info/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="posterServerApp.billInfo.home.createLabel">
            Create a new Bill Info
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="billInfos?.length === 0">
        <span jhiTranslate="posterServerApp.billInfo.home.notFound">No billInfos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="billInfos && billInfos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="billUserName"><span jhiTranslate="posterServerApp.billInfo.billUserName">Bill User Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="billPic"><span jhiTranslate="posterServerApp.billInfo.billPic">Bill Pic</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="billWord"><span jhiTranslate="posterServerApp.billInfo.billWord">Bill Word</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="billAuthor"><span jhiTranslate="posterServerApp.billInfo.billAuthor">Bill Author</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="billTime"><span jhiTranslate="posterServerApp.billInfo.billTime">Bill Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="billLayoutMode"><span jhiTranslate="posterServerApp.billInfo.billLayoutMode">Bill Layout Mode</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="billType.id"><span jhiTranslate="posterServerApp.billInfo.billType">Bill Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let billInfo of billInfos ;trackBy: trackId">
                    <td><a [routerLink]="['/bill-info', billInfo.id, 'view']">{{ billInfo.id }}</a></td>
                    <td>{{ billInfo.billUserName }}</td>
                    <td>{{ billInfo.billPic }}</td>
                    <td>{{ billInfo.billWord }}</td>
                    <td>{{ billInfo.billAuthor }}</td>
                    <td>{{ billInfo.billTime | date:'medium' }}</td>
                    <td>{{ billInfo.billLayoutMode }}</td>
                    <td>
                        <div *ngIf="billInfo.billType">
                            <a [routerLink]="['/bill-type', billInfo.billType?.id, 'view']" >{{ billInfo.billType?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/bill-info', billInfo.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/bill-info', billInfo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(billInfo)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="billInfos && billInfos.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
