<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="billType">
            <h2><span jhiTranslate="posterServerApp.billType.detail.title">Bill Type</span> {{ billType.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="posterServerApp.billType.billTypeName" [ngbTooltip]="'posterServerApp.billType.help.billTypeName' | translate">Bill Type Name</span></dt>
                <dd>
                    <span>{{ billType.billTypeName }}</span>
                </dd>
                <dt><span jhiTranslate="posterServerApp.billType.billTypeSort" [ngbTooltip]="'posterServerApp.billType.help.billTypeSort' | translate">Bill Type Sort</span></dt>
                <dd>
                    <span>{{ billType.billTypeSort }}</span>
                </dd>
                <dt><span jhiTranslate="posterServerApp.billType.dataTime" [ngbTooltip]="'posterServerApp.billType.help.dataTime' | translate">Data Time</span></dt>
                <dd>
                    <span>{{ billType.dataTime }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bill-type', billType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
